
{% extends "template.html" %}


{% block content %}



    <section class="titlebar">
        <h1 class="page-title"><span>About </span>us</h1>
    </section>
    
    <hr class="col-md-6 bottom_60">

    <div class="cont">
        <section class="about">
            <!-- ABOUT TEXT -->
            <div class="about-text text-center top_90">
                <h2 class="subtitle">It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</h2><br>
                <p>What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never once yet been ill.</p>
                <p>A collection of textile samples lay spread out on the table and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. </p>
                <p>What about if he reported sick? But that would be extremely strained and suspicious as in fifteen years of service Gregor had never once yet been ill.</p>
            </div>
            <!-- WORK AREAS -->
  
            <!-- WORK AREAS -->
        </section>

    </div> <!-- cont end -->
    <div class="outer">
        <div class="progress dark">
        <div class="left">
          <div>Start</div>
          <div></div>
          <div></div>
          <div></div>
          <div>Exercitation</div>
          <div></div>
          <div></div>
        </div>
        <div class="right">
          <div>Intro</div>
          <div>Ipsum dolor</div>
          <div>Ament</div>
          <div>Consectetur</div>
          <div>Sed eiusmod</div>
          <div>Tempor</div>
          <div class="done">Done</div>
        </div>
      </div>  
      </div>
     
    


{% endblock %}